<h2 class="text-center"><%= @category.name %></h2>

<h1 class="text-center">Modify the TASK</h1>

<%= hidden_field_tag :previous_request, request.referer %>
<%= render "form", task: @task, category: @category %>