<header class="bg-white shadow">
  <div class="w-2/5 mx-auto text-center py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">
      Create a CATEGORY
    </h1>
  </div>
</header>

<%= render "form", category: @category %>